.home {
  &__list {
    margin-top: 15px;
    text-align: center;
  }
  &__spinner {
    text-align: center;
  }
}

.form {
  &__form-field {
    display: inline-block;
    width: calc(80% - 20px);
    margin-right: 20px;
  }
  &__button {
    display: inline-block;
    width: 20%;
  }
}